.symbolsView {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.symbolsView__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.symbolsView__chart {
    padding: 12px;
}

.symbolsView__cards {
    flex: 1;
    overflow-y: auto;
}

@media (min-width: 1024px) {
    .symbolsView__content {
        margin-top: 16px;
        flex-direction: row-reverse; /* Place the chart on the right */
    }

    .symbolsView__chart {
        width: 400px;
        padding: 0 12px;
    }

    .symbolsView__cards {
        flex: 1;
    }
}